.about {

  .about__container {
    max-width: 780px;
    margin: 0 auto;
    text-align: center;

    .about__mike-b {
      font-size: 3rem;
      color: #00c9c9;
    }

    .about__demo-link {
      display: block;
      margin: 4rem 0;
      padding: 2rem;
      text-decoration: none;
      font-size: 3rem;
      color: #fff;
      background: linear-gradient(to right, rgba(0, 204, 204, 1) 3%, rgba(124, 68, 144, 1) 31%, rgba(124, 68, 144, 1) 71%, rgba(0, 204, 204, 1) 97%)
    }
  }
}